<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.DeviceSchemaDao">
    <resultMap id="result" type="com.example.demo.entity.DeviceSchema">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="deviceSerial" column="device_serial"/>
        <result property="deviceStreamKey" column="device_stream_key"/>
        <result property="manufactureDate" column="manufacture_date"/>
        <result property="ownerUserId" column="owner_user_id"/>
        <result property="deviceStreamKey" column="device_stream_key"/>
        <result property="updateDate" column="update_date"/>
        <result property="createDate" column="create_date"/>
        <result property="removeIdentity" column="remove_identity"/>
        <result property="updateUser" column="update_user"/>
        <result property="createUser" column="create_user"/>
        <result property="status" column="status"/>
    </resultMap>
    <sql id="query">
        select
        id as id,
        name as name,
        device_serial as deviceSerial,
        device_stream_key as deviceStreamKey,
        manufacture_date as manufactureDate,
        owner_user_id as ownerUserId,
        device_stream_key as deviceStreamKey,
        update_date as updateDate,
        create_date as createDate,
        remove_identity as removeIdentity,
        update_user as updateUser,
        create_user as createUser,
        from device_schema
    </sql>

    <select id="getDeviceSchema" parameterType="com.example.demo.entity.DeviceSchema" resultMap="result"></select>
    <delete id="removeById"></delete>
</mapper>

