<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.InvitationRecordDao">
    <resultMap id="result" type="com.example.demo.entity.InvitationRecord">
        <id property="id" column="id"/>
        <result column="invitation_code" property="invitationCode"/>
        <result column="inviter_id" property="inviterId"/>
        <result column="invitee_id" property="inviteeId"/>
        <result column="create_date" property="createDate"/>
        <result column="update_date" property="updateDate"/>
        <result column="create_user" property="createUser"/>
        <result column="invitee_role_id" property="inviteeRoleId"/>
        <result column="update_user" property="updateUser"/>
        <result column="status" property="status"/>
        <result column="remove_identity" property="removeIdentity"/>
        <association property="role" column="invitee_role_id" select="com.example.demo.dao.RoleDao.getRoleById"/>
    </resultMap>

    <sql id="selectInvitationRecord">
        select *
        from invitation_record
    </sql>
    <select id="getByInvitationRecord" resultMap="result" parameterType="com.example.demo.entity.InvitationRecord">
        <include refid="selectInvitationRecord" />
        <where>
            <if test="invitationRecord.inviterId != null">
                and inviter_id = #{invitationRecord.inviterId}
            </if>
            <if test="invitationRecord.inviteeId != null">
                and invitee_id = #{invitationRecord.inviteeId}
            </if>
            <if test="invitationRecord.invitationCode != null">
                and invitation_code = #{invitationRecord.invitationCode}
            </if>
        </where>
    </select>

    <insert id="createInviteInfo" parameterType="com.example.demo.entity.InvitationRecord">
        insert into invitation_record
        (invitation_code,
        inviter_id,
        invitee_id,
        invitee_role_id,
        create_date,
        update_date,
        create_user,
        update_user,
        status,
        remove_identity)
        values
        (#{InvitationRecord.invitationCode},
        #{InvitationRecord.inviterId},
        #{InvitationRecord.inviteeId},
        #{InvitationRecord.inviteeRoleId},
        #{InvitationRecord.createDate},
        #{InvitationRecord.updateDate},
        #{InvitationRecord.createUser},
        #{InvitationRecord.updateUser},
        #{InvitationRecord.status},
        #{InvitationRecord.removeIdentity})
    </insert>
    <update id="updateInviteUserIdByCode">
        update invitation_record set invite_user_id = #{userId} where code = #{code}
    </update>

    <select id="getInvitationRecordByUserId" resultMap="result">
        select * from invitation_record where inviter_id = #{id}
    </select>





</mapper>