<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.LiveLanguageRecordsDao">
    <resultMap id="result" type="com.example.demo.entity.LiveLanguageRecords">
        <id property="id" column="id"/>
        <result property="languageId" column="language_id"/>
        <result property="liveRecordsId" column="live_records_id"/>
        <result property="fileId" column="file_id"/>
        <result property="audioUserId" column="audio_user_id"/>
        <result property="liveStartKey" column="live_start_key"/>
        <result property="title" column="title"/>
        <result property="rtmpUrl" column="rtmp_url"/>
        <association property="language" column="language_id" select="com.example.demo.dao.LanguageDao.selectById"/>
        <association property="filePath" column="file_id" select="com.example.demo.dao.FilePathDao.selectById"/>
        <association property="user" column="audio_user_id" select="com.example.demo.dao.UserDao.getUserById"/>
        <association property="liveRecords" column="live_records_id" select="com.example.demo.dao.LiveRecordsDao.getLiveRecordsByIdWithoutLanguage"/>
    </resultMap>
    <sql id="query">
        select * from live_language_records
    </sql>
    <update id="updateLiveLanguageRecords">
        update live_language_records set file_id=#{languageRecords.fileId} where id = #{languageRecords.id}
    </update>

    <select id="selectByLiveRecordsId" resultMap="result">
        <include refid="query"/> where live_records_id = #{id}
    </select>
    <select id="selectByAudioUserId" resultMap="result">
        <include refid="query"/> where audio_user_id = #{id}
    </select>
    <select id="selectByAudioUserIdAndLiveRecordsId" resultMap="result">
        <include refid="query"/> where audio_user_id = #{audioUserId} and live_records_id = #{liveRecordsId}
    </select>
</mapper>