<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.TeamDao">
    <resultMap id="result" type="com.example.demo.entity.Team">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="logo_id" property="logoId"/>
        <result column="intro" property="intro"/>
        <result column="league" property="league"/>
        <result column="country" property="country"/>
<!--        <result column="admin_id" property="adminId"/>-->
        <result column="create_date" property="createDate"/>
        <result column="update_date" property="updateDate"/>
        <result column="remove_identity" property="removeIdentity"/>
        <result column="status" property="status"/>
        <association property="user" column="admin_id" select="com.example.demo.dao.UserDao.getUserById"/>
        <association property="filePath" column="logo_id" select="com.example.demo.dao.FilePathDao.selectById"/>
        <collection property="users" column="id" select="com.example.demo.dao.UserDao.getUserByTeamId" />
    </resultMap>

    <sql id="query">
        select * from team
    </sql>

    <update id="updateTeam" parameterType="com.example.demo.entity.Team">
        update `team`
        <set>
            <if test="team.name != null and team.name != ''">name=#{team.name},</if>
            <if test="team.league != null and team.league != ''">league=#{team.league},</if>
            <if test="team.country != null and team.country != ''">country=#{team.country},</if>
            <if test="team.logoId != null">logo_id=#{team.logoId},</if>
<!--            <if test="team.adminId != null and team.adminId != ''">admin_id=#{team.adminId}</if>-->
        </set>
        where id = #{team.id}
    </update>

    <select id="getTeam" resultMap="result">
        <include refid="query"></include>
    </select>
<!--    <select id="getTeamInfo" parameterType="com.example.demo.entity.User" resultMap="result">-->
<!--        <include refid="query" /> where admin_id = #{user.id};-->
<!--    </select>-->
<!--    <select id="getNotCurrentTeam" parameterType="com.example.demo.entity.User" resultMap="result">-->
<!--        <include refid="query"/> where admin_id != #{user.id};-->
<!--    </select>-->
    <select id="getTeamById" parameterType="integer" resultMap="result">
        <include refid="query" /> where id = #{id}
    </select>
<!--    <select id="checkTeamAdmin" resultType="java.lang.Integer">-->
<!--        select exists(select * from team where admin_id = #{teamAdminId});-->
<!--    </select>-->

</mapper>





















